*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* --- You will know what this is --- */
#blobSvg {
    max-width: 520px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.85);
    color: #efefef;
    z-index: 5;
    padding: 1rem;
}

.nav__logo {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav__menucontainer {
    position: relative;
}

.nav__hamburger {
    color: inherit;
    min-width: 32px;
    min-height: 32px;
    transition: opacity 80ms linear;
    /* hiding the hamburger icon on large screen sizes */
    display: none;
    opacity: 0;
}

.nav__hamburgerclose {
    color: inherit;
    position: absolute;
    top: 0;
    min-width: 32px;
    min-height: 32px;
    transition: opacity 150ms linear;
    /*   hiding the close icon and... */
    display: none;
    opacity: 0;
    z-index: -1;
    /* pushing it behind the hamburger icon so that hamburger icon can be clicked */
}

.nav__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.95rem;
    font-weight: 500;
}

.nav__item {
    margin-right: 1rem;
}

.nav__link {
    color: inherit;
    text-decoration: none;
    width: 100%;
}

.nav__link:hover,
.nav__link:focus-visible {
    box-shadow: 0 4px 0 -1px #a2e718;
}