:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;

}


/* HEADER */
header {
    width: 100vw;
    height: 75%;
    background-image: linear-gradient(to bottom, #787A91, #141E61, #0F044C);
    position: relative;
}

.leadingText {

    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 15rem;
}

@media (max-width: 1080px) {
    .leadingText {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
}

.leadingText h1 {
    text-align: center;
    font-size: 5rem;
    line-height: 1.5;
    color: #EEEEEE;
}

/* 
.star {
    width: 10rem;
    height: 10rem;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(50deg);
    border-radius: 50%;
    animation-name: spinn;
    position: absolute;
    top: 75%;
    left: 45%;
}


@keyframes spinn {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: translateX(100%);
    }

}

.subStarOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    background-color: #0F044C;
    transform: rotate(50deg);
}

.subStarTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: #787A91;
    transform: rotate(50deg);

}

.subStarThree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: #EEEEEE;
    transform: rotate(50deg);

}

.subStarThree {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #141E61;
}

.star {
    
} */



@media (max-width:576px) {
    .leadingText h1 {

        font-size: 3rem;

    }
}


/* MAIN */
main {
    width: 100vw;
    height: 25%;
    background-color: #EEEEEE;
}

main .startButton {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 7rem;
}


main .startButton a {
    text-decoration: none;
    color: #EEEEEE;
    background-color: #141E61;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 2rem;
}

main .startButton a:hover {
    background-color: #787A91;
}

.Colors {
    background-color: #EEEEEE;
    background-color: #787A91;
    background-color: #0F044C;
    background-color: #141E61;
}