:root {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    color: #30475E;
    background-color: #EEEEEE;
    width: 100%;
    height: 617vh;
    scroll-behavior: smooth;
    background-image: url(/scr/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border: 5px solid green;
}


/* HEADER */

header {
    width: 100%;
    height: 15vh;
    position: absolute;
    z-index: 10;
}

/* NAVIGATION */

.navContainer {
    width: 100%;
    height: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-areas: ". logo . . . . nav nav nav .";
    background-color: #787A91;
    box-shadow: 0 3px 5px #0F044C;

}

.navContainer .logo {
    grid-area: logo;
    display: flex;
    align-items: center;
}

.navContainer .logo p {
    font-weight: bold;
    color: #EEEEEE;
    font-size: 2rem;
}

header .nav-element {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
}

.nav-element .nav-item {
    list-style: none;
}

.nav-element .nav-item a {
    text-decoration: none;
    color: #141E61;
    font-size: 2rem;
    transition: 500ms;
}

.nav-element .nav-item a:hover {
    color: white;
}

/* WELCOME TEXT */



.welcomeText {
    width: 85%;
    height: 45vh;
    color: #0F044C;
    background-color: #EEEEEE;
    margin: 20vh auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 3px 3px 5px #141E61;

}

.welcomeText p,
h1 {
    text-align: center;
}

.welcomeText h1 {
    font-size: 5rem;
}

.welcomeText .text {
    line-height: 2;
    font-size: 2rem;
}

/* MAIN */

main {
    width: 85vw;
    height: 537vh;
    margin: 0 auto;
    scroll-behavior: smooth;
    border: 5px solid aqua;
    position: relative;
}

/* ABOUT CONTAINER */

#aboutwrapper {
    width: 100%;
    height: 121vh;
    padding-top: 20vh;
    /* border: 5px solid yellow; */

}

#aboutContainer {
    width: 100%;
    height: 100vh;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #EEEEEE;
    border-radius: 7px;
}

#aboutContainer .photo {
    border: 2px solid #0F044C;
    width: 30%;
    height: 70%;
    border-radius: 8px;
    background-image: url(/scr/images/IMG_20210612_065650.jpg);
    background-size: cover;
    background-position: right;
    box-shadow: -3px 4px 5px #141E61;
}

#aboutContainer .aboutText {
    /* border: 2px solid #0F044C; */
    width: 65%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


#aboutContainer .preview-btn {
    width: 20rem;
    height: 3rem;
    position: absolute;
    bottom: 5rem;
}

.aboutText p:nth-of-type(1) {
    line-height: 1.5;
}

.aboutText p:nth-of-type(2) a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #EEEEEE;
    background-color: #141E61;
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 2rem;
    transition: 500ms;
}

.aboutText p:nth-of-type(2) a:hover {
    background-color: #787A91;
}

#aboutContainer .preview-btn a {
    text-decoration: none;
    font-size: 2rem;
    color: #141E61;
}


/* RESUME CONTAINER */

#resumewrapper {
    width: 100%;
    height: 181vh;
    padding-top: 20vh;
    /* border: 5px solid green; */

}

#resumeContainer {
    width: 100%;
    height: 150vh;
    background-color: #EEEEEE;
    display: grid;
    color: #0F044C;
    grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr 1fr 2rem;
    grid-template-rows: 3rem 30rem 1fr 25vh;
    grid-template-areas: "asideleft spacing spacing spacing spacing spacing spacing asideright"
        "asideleft topLeft topLeft topLeft topRight topRight topRight asideright"
        "asideleft now now now now now now asideright"
        "asideleft bottomLeft bottomLeft bottomCenter bottomCenter bottomRight bottomRight asideright";
    row-gap: 5rem;
    column-gap: 7rem;
    padding-bottom: 3rem;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

#resumeContainer .resumeSectionOne {
    grid-area: topLeft;
}

#resumeContainer .resumeSectionTwo {
    grid-area: topRight;
}

#resumeContainer .resumeSectionThree {
    grid-area: now;
}

#resumeContainer .resumeSectionFour {
    grid-area: bottomLeft;
}

#resumeContainer .resumeSectionFive {
    grid-area: bottomCenter;
}

#resumeContainer .resumeSectionSix {
    grid-area: bottomRight;
}


#resumewrapper h2 {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: title;
    color: #EEEEEE;
    background-color: #787A91;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    border-left: 3px solid #EEEEEE;
    border-right: 3px solid #141E61;

}


#resumeContainer section {
    padding: 1rem 0;
    box-shadow: 2px 2px 5px black;
    background-color: #EEEEEE;
}

#resumeContainer h3 {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #141E61;
    color: #EEEEEE;
    text-indent: 4px;
    margin-bottom: 1rem;
}

#resumeContainer p {
    text-indent: 5rem;
}


/* PROJECT CONTAINER */

#projectwrapper {
    /* border: 5px solid red;
    width: 100%; */
    height: 115vh;
    padding-top: 20vh;
}

#projectwrapper h2 {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEEEE;
    background-color: #787A91;
    border-top-right-radius: 10rem;
    border-top-left-radius: 10rem;
    border-right: 3px solid #EEEEEE;
    border-left: 3px solid #141E61;

}

#projectContainer {
    background-color: #EEEEEE;
    border: 1px solid grey;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* border: 5px solid red; */
}

#projectContainer figure {
    /* border: 2px solid blue; */
    width: 30%;
    height: 70%;
    position: relative;
}

#projectContainer figure .projectOne {
    border: 2px solid green;
    width: 100%;
    height: 90%;
}

figcaption span {
    background-color: #787A91;
    padding: .5rem 2rem;
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    transition: .5s;
}

figcaption span:hover {
    background-color: #0F044C;
}

figcaption span a {
    color: #EEEEEE;
    text-decoration: none;
}



/* CONTACT CONTAINER */

#contactwrapper {
    width: 100%;
    height: 120vh;
    padding-top: 20vh;
    /* border: 5px solid orange; */
}

#contactContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #EEEEEE;
}

.finalText {
    text-align: center;
    line-height: 2;
}

#contactContainer form {
    width: 30%;
    height: 50%;
    /* border: 1px solid red; */
}

#contactContainer form fieldset {
    width: 100%;
    height: 100%;
    border-top: 3px solid #0F044C;
    border-bottom: 3px solid #0F044C;
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contactContainer form fieldset legend {
    color: #0F044C;
    font-weight: bold;
}

#contactContainer label {}

#contactContainer input {
    width: 100%;
    height: 100%;
}

#contactContainer input:focus,
#contactContainer textarea:focus {
    outline-color: #141E61;
}

#contactContainer textarea {
    width: 100%;
    height: 10rem;
}

#contactContainer form fieldset .sendButton {
    padding: .5rem 2rem;
    border: none;
    background-color: #787A91;
    color: #EEEEEE;
    border-radius: 5px;
    transition: 500ms;
}

#contactContainer form fieldset .sendButton:hover {
    background-color: #0F044C;

}






/* FOOTER */

.footer {
    width: 100%;
    min-height: 20vh;
    background-image: linear-gradient(to right, #0F044C, #787A91);
    border-top-right-radius: 12rem;
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    font-size: small;
    position: sticky;
    bottom: 0;
    /* border: 5px solid orange; */
}

.footer .row {
    width: 90%;
    min-height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.footer li::before {
    content: ;
}



.footer li a {
    color: #EEEEEE;
    text-decoration: none;
}


.footer li a:hover {
    color: #bfa7a7;
}



.footer h5 {
    text-decoration: underline;
    padding: 1rem 0;
}




.Colors {
    background-color: #EEEEEE;
    background-color: #787A91;
    background-color: #0F044C;
    background-color: #141E61;
}